.dev_ent {
    font-weight: bold;
    color: #000000;
    font-size: 0.4em;
    margin-bottom: 5px;
}

/*-------------------------down-------------------------*/
.dev_list_down {
    font-size: 10pt;
}

.dev_ent .down {
    border: 2px solid #ff6666;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.short_dev_list .down {
    font-size: 10pt;
    color: #ff3333;
}

/*-------------------------up-------------------------*/
.dev_list_up {
    font-size: 10pt;
}

.dev_ent .up {
    border: 2px solid #99ff99;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.short_dev_list .up {
    font-size: 10pt;
    color: #33cc00;
}

.short_dev_list .dev_view_all {
    width: 100%;
    border-left: 1px solid #cfe0ff;
    border-right: 1px solid #cfe0ff;
    border-bottom: 1px solid #e4edfe;
    border-top: 1px solid #abc7ff;
    border-radius: 5px;
    height: 20px;
    display: table;
    text-align: center;
    padding: 3px 0 3px 0;
    color: #999999;
    margin:  5px 0 10px 0;
    /*background-color: #f4f9ff;*/
}
