/* Dialog
----------------------------------*/
.ui-dialog {

}

.ui-dialog .ui-dialog-titlebar {
    height: 15px;
}

.ui-dialog .ui-dialog-title {

}

.ui-dialog .ui-dialog-titlebar-close {

}

.ui-dialog .ui-dialog-titlebar-close span {

}

.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {

}

.ui-dialog .ui-dialog-content {
    font-size: 8pt;
    overflow: visible;
}

.ui-dialog .ui-dialog-content {

}

.ui-dialog .ui-dialog-content select {
    width: 100%;
}

.ui-dialog .ui-dialog-content input {
    width: 95%;
    height: 25px;
}

.ui-dialog .ui-dialog-content .info {

}

.ui-dialog .ui-dialog-buttonpane {

}

.ui-dialog .ui-dialog-buttonpane button {

}

.ui-dialog .ui-resizable-se {

}

.ui-draggable .ui-dialog-titlebar {

}
