.sidebar-nav {
    padding: 8px 0;
}

.nav-header a {
    color: #999;
}

.trouble-entry {
    margin-bottom: 2px;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 4px;
}

.trouble-entry input {
    margin: 4px 0 0 10px;
    display: inline-block;
}

.trouble-entry div {
    display: inline-block;
    vertical-align: top;
}

.trouble-entry .trouble-title {
    color: #08C;
    margin-left: 10px;
    display: inline-block;
    width: 60%;
    vertical-align: middle;
    cursor: pointer;
}

.trouble-entry .right-panel {
    margin: 0 10px 0 0;
}

.trouble-entry .right-panel span {
    display: inline-block;
}

.trouble-entry .trouble-title:hover {
    color: #005580;
}

.date-and-time-label {
    padding: 4px 0 0 0;
}

.picker {
    z-index: 1051;
    width: 90%;
}

.modal-body {
    max-height: 600px;
}

.tab-pane {
    height: 425px;
}

.edition-dialog {
    width: 60%;
    left: 20%;
    margin: auto auto auto auto;
    top: 5%;
}

.device-list {
    overflow: auto;
    height: 425px;
}

.comments-list {
    overflow: auto;
    height: 300px;
}

.input-crm-message {

}

.input-crm-message textarea {
    margin-top: 10px;
    height: 75px;
}

.device-block {
    margin: 5px 0 5px 0;
    border-bottom: 1px dotted #E5E5E5;
}

.comment-block {
    margin: 5px 0 5px 0;
    border-bottom: 1px dotted #E5E5E5;
}

.caption {
    font-weight: bold;
    font-size: 10pt;
    margin-bottom: 4px;
}

.form-horizontal .control-group {
    margin-bottom: 20px;
}

.comment-text-container {
    display: block;
    margin: 0 0 5px 20px;
}

.popover {
    z-index: 100500;
}