.sidebar-nav {
    padding: 8px 0;
}

.nav-header a {
    color: #999;
}

.trouble-entry {
    margin-bottom: 2px;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px;
}

.trouble-entry input {
    margin: 0 0 0 10px;
}

.trouble-entry div {
    margin: 0 0 0 32px;
}

.trouble-entry span {
    color: #08C;
    margin-left: 10px;
}

.trouble-entry span:hover {
    color: #005580;
}

.trouble-entry .description span {
    color: #b9b9b9;
}

.datepicker {
    z-index: 1051;
}

.modal-body {
    max-height: 550px;
}

.tab-pane {
    height: 400px;
}

.edition-dialog {
    width: 60%;
    left: 20%;
    margin: auto auto auto auto;
    top: 10%;
}

.device-list {
    overflow: auto;
    height: 370px;
}

.comments-list {
    overflow: auto;
    height: 370px;
}

.device-block {
    margin: 5px 0 5px 0;
    border-bottom: 1px dotted #E5E5E5;
}

.comment-block {
    margin: 5px 0 5px 0;
    border-bottom: 1px dotted #E5E5E5;
}

.caption {
    font-weight: bold;
    font-size: 10pt;
    margin-bottom: 4px;
}

.form-horizontal .control-group {
    margin-bottom: 20px;
}

.comment-text-container {
    margin: 0 0 5px 20px;
}