<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>
        DSI Info Panel ver. 1.0.1
    </display-name>

    <servlet>
        <servlet-name>HTTPC</servlet-name>
        <servlet-class>ru.blackart.dsi.infopanel.controllers.HTTPServletController</servlet-class>

        <init-param>
            <param-name>root</param-name>
            <param-value>/ROOT</param-value>
        </init-param>

        <init-param>
            <param-name>pathToDataFile</param-name>
            <param-value>/WEB-INF/path_to_data_files</param-value>
        </init-param>

        <init-param>
            <param-name>settings</param-name>
            <param-value>/WEB-INF/settings</param-value>
        </init-param>

        <init-param>
            <param-name>base</param-name>
            <param-value>${catalina.base}</param-value>
        </init-param>

        <init-param>
            <param-name>pathToCatalina</param-name>
            <param-value>${catalina.home}</param-value>
        </init-param>

        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>SNMPcRC</servlet-name>
        <servlet-class>ru.blackart.dsi.infopanel.controllers.SNMPcRequestController</servlet-class>

        <init-param>
            <param-name>pathToDataFile</param-name>
            <param-value>/WEB-INF/path_to_data_files</param-value>
        </init-param>

        <init-param>
            <param-name>settings</param-name>
            <param-value>/WEB-INF/settings</param-value>
        </init-param>

        <init-param>
            <param-name>pathToCatalina</param-name>
            <param-value>${catalina.home}</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>adminko.jsp</welcome-file>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <servlet-mapping>
        <servlet-name>HTTPC</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SNMPcRC</servlet-name>
        <url-pattern>/snmpc</url-pattern>
    </servlet-mapping>

    <!--<session-config>
        <session-timeout>20</session-timeout>
    </session-config>-->
</web-app>