html {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

#failures_table {
    font-size: 1em;
    border: 1px solid #c3d9ff;
}

body {
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;

    width: 100%;
    height: 100%; /*border: 1px solid red;*/
    padding: 0;
    margin: 0;
    background: #fff;
}

.logout_bar {
    text-align: right;
    width: 100%;
    font: 0.8em Verdana;
}

.trouble_item {
    display: table;
    width: 100%;
}

.trouble_item_accord {
    display: table;
    float: right;
    width: 95%;
}

.trouble_item_check {
    display: inline;
    float: left;
    width: 3%;
    margin-top: 18px;
}

.ui-state-active, .ui-widget-content .ui-state-active {
    background-color: #c3d9ff;
}

.redstar {
    display: inline;
    margin: 0 1px 0 1px;
    color: #FF0000;
    font-size: 9px;
    vertical-align: super;
}

.text_bold {
    font-weight: bold;
    margin: 0 0 .5em 0; /*font-size: 0.9em;*/
}

.content_block_inactive {
    padding: 1em 0 1em 1em;
    margin: 0 0 1em 0;
    border-bottom: 1px solid #999999;
    border-left: 2px solid #999999;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.redstar {
    display: inline;
    margin: 2px 1px 0 1px;
    color: #FF0000;
    font-size: 8px;
    vertical-align: super;
}

.ui-datepicker-trigger {
    display: inline-block;
    width: 17px;
    height: 17px;
    padding: 0 0 0 5px;
    margin: 0;
}

.field_merge {
    padding: 2px 0 4px 0;
}

.caption_merge {
    font-weight: bold;
}

/*----------------progress bar-----------------*/
.progressbar .ui-progressbar {
    height: 2em;
    text-align: left;
    width: 30%;
}

.progressbar .ui-progressbar .ui-progressbar-value {
    margin: -1px;
    height: 100%;
}

.progressbar .ui-widget-header {
    border: 1px solid #aaaaaa;
    background: #cccccc 50% 50% repeat-x;
    color: #222222;
    font-weight: bold;
}

.progressbar .ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ffffff 50% 50% repeat-x;
    color: #222222;
}

.progressbar .ui-corner-left {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

/*----------------footer-------------------*/
.footer_b {
    position: absolute;
    text-align: center;
    height: 60px;
    width: 100%;
    bottom: 2px;
}

.footer_b .cont {
    height: 100%;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    border-bottom: 0;
    border-color: #f4f1f1;
    border-style: solid;

    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footer_b .cont div {
    margin: 10px 0 0 0;
    color: #e6e4e4;
}

/*------------------Комментарии----------------------------*/
.trouble_comments {
    margin: 10px 0 10px 0;
}

.trouble_comments .comment_item {
    margin: 5px 0 5px 0;
    display: table;
    /*padding: 0 0 10px 0;*/
    /*border-top: 1px solid #dbe8ff;*/
    border-radius: 10px;
    /*background: #dbe8ff;*/
    width: 100%;
}

.trouble_comments .comment_item_unvisible {
    margin: 5px 0 5px 0;
    display: none;
    /*padding: 0 0 10px 0;*/
    border-top: 1px solid #dbe8ff;
    border-radius: 10px;
    background: #dbe8ff;
    width: 100%;
}

.trouble_comments .comment_item .comment_title {
    /*width: 90%;*/
    /*display: inline-table;*/
    height: 15px;
    margin: 10px 10px 0 10px;
    font-size: 11px;
    font-weight: bold;
    color: #666666;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    /*border: 1px solid #ff9933;*/
}

.trouble_comments .comment_item .comment_title  .comment_author {
    float: left;
    /*border: 1px solid #000;*/
}

.trouble_comments .comment_item .comment_title  .comment_date {
    float: right;
    /*border: 1px solid #0000ff;*/
}

.trouble_comments .comment_item .comment_text {
    margin: 10px 10px 10px 10px;
    font-size: 11px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}

.trouble_comments .comment_view_all {
    width: 100%;
    border-left: 1px solid #cfe0ff;
    border-right: 1px solid #cfe0ff;
    border-bottom: 1px solid #e4edfe;
    border-top: 1px solid #abc7ff;
    border-radius: 5px;
    height: 20px;
    display: table;
    text-align: center;
    padding: 3px 0 3px 0;
    color: #999999;
    /*background-color: #f4f9ff;*/
}

.trouble_comments .comment_send {
    text-align: right;
}

.trouble_comments .comment_send textarea {
    display: block;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
}

.trouble_comments .comment_send .comment_send_button {
    margin: 5px 0 0 0;
}

/*------------------Занавес-----------------------------*/

#zanaves {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    display: none;
    text-decoration: underline;
}

#zanaves .zanaves {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: #000000;
    opacity: 0.3;
}

#zanaves .preloader {
    position: absolute;
    display: inline-block;
    top: 350px;
    left: 49%;
    z-index: 3;
}

#header {
/*border: 1px solid #000;*/
    text-align: right;
    padding: 0 10px 0 0;
    margin: 10px 0 10px 0;
}

#header a {
    color: #0000cc;
}

#admin_waiting_close_trouble_list {

}

#admin_trouble_list {

}

.trouble_list_title {
    margin: 20px 0 20px 0;
}

.count_need_actual_problem_troubles {
    display: inline;
    color: #009900;
}

.count_current_troubles {
    display: inline;
    color: #0000FF;
}

.count_waiting_close_troubles {
    display: inline;
    color: #ff0000;
}

.count_complete_troubles {
    display: inline;
    color: #999999;
}

.count_trash_troubles {
    display: inline;
    color: #a26f17;
}


