.menu_top {
    display: table;
    position: relative;
    width: 100%;
    text-align: left;
    border-bottom: 2px solid #c3d9ff;
    border-left: 1px solid #c3d9ff;
    border-right: 1px solid #c3d9ff;
    left: 0;
    padding: 0 0 0 0;
    margin-top: 2px;
    font-size: 9pt;

    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

.find_panel {
    width: 98%;
    float: left;
    margin: 10px;
    display: none;
}

.control_panel {
    width: 98%;
    float: left;
    margin: 10px;
    display: none;
}

.bottom_button {
    display: table;
    width: 100%;
    border: 1px solid #c3d9ff;
    background-color: #c3d9ff;
    margin-top: 0;
    text-align: center;
    cursor: pointer;

    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

.button_panel {
    display: block;
    width: 85%;
    max-width: 100%;
    position: relative;
    margin: 10px 0 10px 0;
    float: left; /*border: 1px solid #000;*/
}

.button_panel_failures {
    display: block;
    width: auto;
    max-width: 100%;
    position: relative;
    margin: 10px 0 10px 0;
    float: left; /*border: 1px solid #000;*/
}

.button_panel_failures input {
    margin: 0 10px 0 0;
}

.title_failures {
    margin: 10px 0 10px 0;
}

.start_find_panel {
    display: table;
    float: left; /*margin: 0 10px 10px 10px;*/
}

.merge_panel {
    display: table;
    float: left;
}

.name_find_panel, .date_find_panel, .status_find_panel, .region_panel {
    display: table;
    float: left;
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
    border-left: 2px solid #c3d9ff;
}

.other_panel .time_interval #for_status select {
    margin: 5px 0;
    width: 100%;
}

.time_interval_quest, .region_quest {
    margin: 5px 0 5px 0;
}

.time_interval {
    display: table;
    float: left;
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
    border-left: 2px solid #c3d9ff; /*margin: 10px 0 10px 0;*/
}

.date {
    margin: 10px 0 10px 0;
}

.type_find_select {
    display: inline;
}

.date_input {
    width: 80px;
    text-align: center;
}

.button_print {
    float: right;
    display: table;
    margin: 10px; /*border: 1px solid #000;*/
}

.button_print form {
    display: block;
    margin: 0;
    padding: 0;
}

.submit_find_button {
    width: 100%;
    text-align: right;
}

#minDate, #maxDate {
    width: 100px;
}

.name_find_panel #device_name {
    width: 150px;
}

.statistics {
    margin: 10px 0 10px 0;
}

#status_dev {
    margin: 5px 0 10px 0;
}

#region_dev {
    margin: 5px 15px 10px 0;
}

#status_dev div, #region_dev div {
}

.failures {
    margin-top: 15px;
}

#cur_val_interval {
    width: 50px;
    display: inline-block;
    margin: 0 3px 0 3px;
    border: 1px solid #c3d9ff;
    padding: 2px;
    text-align: center;
}